<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 *ngIf = "cartsection?.length <= 0">
    Your cart is empty
  </h2>
  <ion-card *ngFor = "let cartview of cartsection">
    <span>{{ cartview.price }}€</span>
    <img src = "{{ cartview.picture }}" />
    <ion-card-content>
      <ion-card-title>
        {{ cartview.name }}
      </ion-card-title>
      <p>
        {{ cartview.desc }}
      </p>
      <button ion-button color = "safe" (click) = "deleteCart(cartview)">Delete cart</button>
    </ion-card-content>
  </ion-card>

</ion-content>
