<ion-header>
  <ion-navbar color = "dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 *ngIf = "!cartsection.length">Your cart is empty</h2>
  <ion-card *ngFor = "let cartview of cartsection; let i = index;">
    <span> {{ cartview.price }} €</span>
    <img src = "{{ cartview.picture }}" />
    <ion-card-content>
      <ion-card-title>{{ cartview.name }}</ion-card-title>
      <p>
        {{ cartview.desc }}
      </p>
      <button ion-button color = "dark" (click) = "deleteCart(i)">Delete from cart</button>
    </ion-card-content>
  </ion-card>

</ion-content>
